@model IEnumerable<User>

<div>
    <h1>Hello Admin</h1>
</div>

    <table class="table table-hover">
        <tr>
            <th>ID#</th>
            <th>UserName</th>
        </tr>
        <tbody>
            @foreach(var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>
                        <a href="/@user.Id" class="btn btn-default">Edit</a>
                        <!-- TODO Delete button not implemented -->
                        <a href="" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>