@if(User.IsInRole("Admin"))
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Admin" asp-action="CreateUser">Create new User</a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="ChangeRoles">Change user Roles</a></li>
    </ul>
}
else if (User.IsInRole("Teacher"))
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Teacher" asp-action="CreateAssignment">Create Assignments</a></li>
        <li><a asp-area="" asp-controller="Teacher" asp-action="Grade">Grade Assignments</a></li>
        <li><a asp-area="" asp-controller="Teacher" asp-action="CreateClass">Create a Class</a></li>
    </ul>
}
else if (User.IsInRole("Student"))
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Student" asp-action="CheckAssignments">Check Assignments</a></li>
        <li><a asp-area="" asp-controller="Student" asp-action="CheckGrade">Check Grade</a></li>
        <li><a asp-area="" asp-controller="Student" asp-action="Classes">Classes</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
    </ul>
}
