@model User
<form asp-action="LoginIn" asp-controller="Home" method="post">
    <h3>@ViewBag.error</h3>
    <p>Email: <input></p>
    <p>Password: <input></p>
    <input type="submit" value="Login">
</form>